* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --blue: #247D9E;
    --bg-grey: #2B2E33;
    --font-black: #222;
    --font-gray: #BAB5BD
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
li { list-style: none; }

.container {
    display: flex;
    flex-direction: column;
    margin: 0.25rem;
    border:0px solid green;
}

.row {
    display: flex;
    padding: 0.4em 0;
    flex-wrap: nowrap;
}
.col-1 {
    position:relative;
    border:1px solid #eaeaea;
    min-width:8.3%;
}
.col-2 {
    position:relative;
    border:1px solid #eaeaea;
    min-width:16.6%;
}
.col-3 {
    position:relative;
    border:1px solid #eaeaea;
    min-width:24.9%;
}
.col-9 {
    position:relative;
    border:1px solid #eaeaea;
    min-width:74.7%;
}
.col-10 {
    position:relative;
    border:1px solid blue;
    min-width:83%;
}
.col-12 {
    position:relative;
    border:1px solid green;
    width:100%;
}

/* AJUSTES */
.p-0 {
    padding: 0;
}
.p-1 {
    padding: 1em;
}
.p-2 {
    padding: 1.2em;
}



.justify-start {
    justify-content: start;
}
.justify-center {
    justify-content: center;
}
.justify-end {
    justify-content: end;
}

.align-items-start {
    align-items: flex-start;
}
.align-items-center {
    align-items: center;
}
.align-items-end {
    align-items: flex-end;
}

.btn {
    display: block;
    background-color: #247D9E;
    color: #fff;
    width: 50px;
    height: 40px;
    line-height: 50px;
    padding: 0 20px;
    cursor: pointer;
    transition: width .3s ease-in-out;
}
.sidebar {
    position: fixed;  
    height: 100%;
    width: 220px;
    background-color: var(--bg-grey);
    z-index: 1111;
    transition: transform .3s ease-in-out;
    transform: translateX(-170px);
}
.dropdown-menu {
    color: #555;
    /* border: 1px solid rgba(0, 0, 0, .15); */
    padding: 0.25rem 0;
    border-radius: 3px;
}
.dropdown-item {
    display: flex;
    align-items: center;
    padding: 15px;
    text-decoration: none;
    color:#eaeaea;
}
.sidebar ul a {
    border-left: 5px solid var(--bg-grey);
}
.sidebar ul a:hover, 
.sidebar ul a.active {
    background-color: #161920;
    border-color: var(--blue);
    color: #fff;
}
#checkbox, .btn span { 
    display: none;
}


/* Effect of showing the sidebar - starts */
#checkbox:checked ~ .sidebar {
    transform: translateX(0);
}

#checkbox:checked + .btn {
    width: 220px;
    padding: 0 20px;
}

#checkbox:checked + .btn span { /* Show again the word "Menu" in the button */
    display: inline;
}
/* Effect of showing the sidebar - ends */


.header {
    border: 1px solid darkgray;
    height: 40px;
    background-color: gainsboro;
    box-shadow: greenyellow;

    margin-bottom: 50px;;
}