* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:root {
    --bg-dark: #2B2E33;

    --blue: #247D9E;
    --bg-grey: #2B2E33;
    --font-black: #222;
    --font-gray: #BAB5BD;
    --bg-header: #eaeaea;

    --logo-height: 80px;
    --aside-width: 220px;
    --aside-width-mobile: 50px;
    --header-height: 40px;
    --footer-height: 30px;

    --shadow: 
        0 2px 23px 0 rgba(0, 0, 0, 0.1),
        0 2px 49px 0 rgba(0, 0, 0, 0.06);
}

/* GRIDLAYOUT BEGIN */
.app {
    margin: 0;
    display: grid;
    grid-template-columns: var(--aside-width) 1fr;
    grid-template-rows: 
         var(--header-height)
         1fr
         var(--footer-height);
    grid-template-areas: 
        "menu header"
        "menu content"
        "menu footer";
    height: 100vh;
    background-color: #f5f5f5;
}
aside.logo {
    grid-area: logo;
}
header.header {
    grid-area: header;
}
aside.menu-area {
    grid-area: menu;
}
main.content {
    grid-area: content;
}
footer.footer {
    grid-area: footer;
}
/* GRIDLAYOUT BEGIN */


/* LOGO BEGIN */
aside.logo {
    background-color: var(--bg-dark);
    display: flex;
    padding: 4px 0 0 28px;
    /* justify-content: center;
    align-items: center; */
    color: #fff;
    width: 100%;
    height: var(--logo-height);
}
/* LOGO BEGIN */




/* MENU-AREA BEGIN */
.menu-area {
    background-color: var(--bg-grey);
    padding: 0;
    /* transition: transform .3s ease-in-out;
    transform: translateX(-220px); */
}
.menu-area .separador {
    border: 0;
    margin:4px;
    padding: 0;
    height: 1px;
    background-color: #247D9E;
    /* background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(150, 150, 150, 0.4), rgba(0, 0, 0, 0)); */
}
.menu-area  ul {
    padding: 0;
    margin: 0;
    border-radius: 3px;
}  
.menu-area  ul li a {
    display: flex;
    align-items: center;
    padding: 15px;
    text-decoration: none;
    color:#eaeaea;
    border-left: 5px solid var(--bg-grey);
}
.menu-area  ul li a:hover, 
.menu-area  ul li a.active {
    background-color: #161920;
    border-color: var(--blue);
    color: #fff;
}
.menu-area  ul li .icon {
    margin-right: 10px;
    display: flex;
    align-items: center;
}
/* MENU-AREA END */

/* MENU HAMBURGUER BEGIN */
.hamburguer {
    color: #555;
}
#checkbox-menu{
    position: absolute;
    opacity: 0;
  }
  
  label{
    cursor: pointer;
    position: relative;
    display: block;
    height: 20px;
    width: 28px;
  }
  
  label span{
    position: absolute;
    display: block;
    height: 3px;
    width: 100%;
    border-radius: 30px;
    background: #444;
    transition: 0.25s ease-in-out;
  }
  
  label span:nth-child(1){
    top: 0;
  }
  
  label span:nth-child(2){
    top: 8px;
  }
  
  label span:nth-child(3){
    top: 16px;
  }
  
  #checkbox-menu:checked + label span:nth-child(1){
    transform: rotate(-45deg);
    top: 8px;
  }
  
  #checkbox-menu:checked + label span:nth-child(2){
    opacity: 0;
  }
  
  #checkbox-menu:checked + label span:nth-child(3){
    transform: rotate(45deg);
    top:8px;
    background-color: darkorange;
  }

  #checkbox-menu:checked ~ aside.menu-area {
    width: 400px;
    border:2px solid darkorange;
  }

  /* MENU HAMBURGUER END */





/* HEADER BEGIN */
header.header {
    background-color: var(--bg-header);
    color: #555;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0 10px;
    justify-content: space-between;
}
/* HEADER BEGIN */

/* CONTENT BEGIN */
main.content {
    padding: 20px;
}
/* CONTENT BEGIN */



/* FOOTER BEGIN */
footer.footer {
    color:#fff;
    background-color: var(--bg-dark);
}
/* FOOTER BEGIN */





@media screen and (max-width: 767px) {
    .app {
        grid-template-columns: var(--aside-width-mobile) 1fr;
    }
    .menu-text {
        display: none;
    }
    .menu-area a.logo img {
        
    }
}

/* MEDIA PRINT BEGIN */
@media print {
    .app {
        grid-template-columns: 1fr;
        grid-template-rows: 
             1fr
             var(--footer-height);
        grid-template-areas: 
            "content"
            "footer";
        height: 100vh;
        background-color: #f5f5f5;
    }
    header.header, aside {
        display: none;
    }
}
/* MEDIA PRINT END */